# DATA WRANGLING
*Kyllian Beguin*  
Exract data from Twitter API and run some data wrangling magic on it

## FIRST TEST 
Open the data_PekinExpress.json and make a Pandas dataframe

In [32]:
import json
import pandas as pd

def make_dataframe(JSON):
    
    def open_json(JSON):
        '''
        Open the json file that contains the Twitter data from API
        '''
        
        # Opening JSON file
        f = open(JSON)

        # returns JSON object as a dictionary
        data = json.load(f)
        
        return data['data']
    
    def json_to_dataframe(DATA):
        '''
        Make the dataframe out of the data contained in the json
        '''
        
        # Get the columns for the dataframe
        columns_df = list(DATA[0].keys())
        
        # Aggregate the data and store it to another dictionnary
        df_data = [[i[columns_df[j]] for i in DATA] for j in range(len(columns_df))]
        df_dict = {}
        for i in range(len(columns_df)):
            df_dict[columns_df[i]] = df_data[i]
        
        # Make the dataframe out of the aggregated data
        df = pd.DataFrame(df_dict)
        
        # Turn the created_at data into a Timestamp data
        df['created_at']= pd.to_datetime(df['created_at'])
        
        return df
    
    DATA = open_json(JSON)
    
    df = json_to_dataframe(DATA)
    
    return df

In [33]:
df = make_dataframe('data_PekinExpress.json')

In [34]:
df.head(4)

,created_at,id,text
0,2022-07-10 17:15:55+00:00,1546181436545216512,https://t.co/XvOxiSlo2h \n#PekinExpress Duos ...
1,2022-07-10 17:07:35+00:00,1546179336537079808,RT @Dotadasp: https://t.co/2WySu1gU4m\n@ITrann...
2,2022-07-10 17:05:04+00:00,1546178705684369408,"RT @M6: ""Je crois que je suis en train de tomb..."
3,2022-07-10 16:56:37+00:00,1546176576252952576,#pekinexpress c'est normal de voir deux filles...

*Up next : run some aggregation and data manipulation on it*